$theme-green: #26a69a;
$white: #FFF;
$theme-grey: #757575;
$theme-grey-secondary: #f5f5f5;

$bp-large: 1200px;
$bp-medium: 992px;
$bp-tablet: 768px;
$bp-phablet: 640px;

$container-large: 1170px;
$container-medium: 970px;
$container-tablet: 750px;
