.answer-list {
  padding: 1.5rem;

  .count, .answer-body {
    display: inline-block;
  }
  .count {
    font-size: 1.3rem;
    font-weight: bold;
    vertical-align: top;
    width: 100%;
    text-align: center;

    @media only screen and (min-width: $bp-phablet) {
      width: 30px;
    }
  }

  .answer-body {
    width: 100%;

    @media only screen and (min-width: $bp-phablet) {
      width: 90%;
    }

  }

  .total-answer {
    font-size: 1.3rem;
  }

  .listing {
    border-bottom: 1px solid $theme-grey;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    overflow:auto; //Doing this to accomodate for the html content being sent by json. Code tag in response is breaking the view
  }

  .highlight-answer {
    background: $theme-green;
  }
}
