.search-bar {
  .search-btn {
    border: transparent;
    background: $theme-green;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    width: 100%;
    height: 50px;
    color: $white;

    &:disabled {
      background: $theme-grey;
      opacity: 0.6;
      cursor: not-allowed;
    }

    @media only screen and ( min-width: $bp-phablet ) {
      border-radius: 0 8px 8px 0;
      width: 20%;
      margin-top: 0;
    }
  }
}
